html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background: $white;
}

img {
  max-width: 100%;
}
 
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
