.faq {
  border: 0.5px solid #ddd;
  padding: ($gutter * 2) 0;

  &__header-wrapper {
    text-align: center;
    padding-bottom: $gutter;
  }

  &__header {
    color: $orange;
    font-size: 3em;
    margin: 0;
    padding-bottom: $gutter / 2;
  }

  &__sub-header {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
  }

  &__row {
    display: flex;
    flex-direction: column;

    @include respond-to("large") {
      flex-direction: row;
    }
  }

  &__question-wrapper {
    display: flex;
    padding: ($gutter * 2) 0;
    flex: 1;

    &--middle {
      padding-left: 0;
      padding-right: 0;

      @include respond-to("large") {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }

  &__number-wrapper {
    padding-right: $gutter;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    margin-bottom: $gutter / 2;

    &--primary {
      height: 65px;
      background: $blue;
      color: $white;
      font-weight: 700;
      border-radius: 100px;
    }

    &--secondary {
      height: 40px;
      background: #ededed;
      color: #333333;
      font-weight: 500;
    }
  }

  &__question-header {
    margin: 0;
    padding-bottom: $gutter;
    font-weight: 500;
    font-size: 1.3em;
  }

  &__question-answer {
    margin: 0;
  }
}
