.footer {
  position: relative;
  text-align: center;
  padding: ($gutter * 2) 0;

  &__logo {
    max-width: 150px;
  }

  &__disclaimer {
    text-align: center;
    color: $lightgrey;
    line-height: 1.2em;
    font-size: 0.7em;

    p {
      margin: ($gutter / 2) 0;

      &:last-child {
        padding: ($gutter * 2) 0;
      }
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    justify-content: center;
    text-decoration: underline;
    font-size: 0.8em;
    padding: $gutter 0;
    flex-wrap: wrap;

    a {
      color: $lightgrey;
      cursor: pointer;
    }

    li {
      padding: ($gutter / 4) ($gutter / 2);
      cursor: pointer;

    }
  }

  &__popup {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: $gutter;
    overflow-y: auto;
    z-index: 100;

    &--hidden {
      display: none;
    }

    &--visible {
      display: block;
    }
  }

  &__popup-wrapper {
    position: absolute;
    left: 50%;
    top: 50px;
    width: 650px;
    margin-bottom: 15px;
    max-width: calc(100% - 30px);
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: $white;
    color: $black;
    text-align: left;
  }

  &__popup-text {
    padding: $gutter;
  }

  &__popup-top-row {
    border-bottom: 1px solid rgba($black, 0.2);
    font-size: 2.2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-weight: 400;
    }
  }

  &__close-btn {
    border: none;
    font-size: 0.7em;
    font-weight: 900;
  }
}
