.form-small {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  background: $white;
  border-radius: 0 0 5px 5px;
  border-top: 5px solid #d65000;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $gutter * 2;
  }

  &__label {
    display: none;
  }

  &__input {
    margin-bottom: $gutter;
    padding: ($gutter / 2) 0;
    text-align: center;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  &__submit-btn {
    background: $blue;
    box-shadow: 0 2px 0 #1978a5;
    color: $white;
    padding: ($gutter / 2) 0;
    font-size: 1.25em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
    border: none;
    outline: none;
  }

  &__disclaimers {
    text-align: center;
    font-size: 0.6em;
    font-weight: 700;
    padding-top: $gutter / 2;
  }

  &__disclaimer {
    margin: 0;
    // padding-bottom: $gutter / 2;
  }

  &__badges {
    width: 80%;
    margin: $gutter auto 0 auto;
    filter: grayscale(100%);
  }
}
