.hero {
  position: relative;
  background-image: url(../media/images/hero-background.jpg);
  background-size: cover;
  background-position: center center;

  &:before {
    content: "";
    position: absolute;
    background-image: url(../media/images/triangleLeft.svg);
    z-index: 1;
    bottom: 0;
    left: 0;  
    width: 50%;
    height: 35px;

    @include respond-to("medium") {
      width: 30%;
      height: 50px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background-image: url(../media/images/triangleRight.svg);
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 30px;

    @include respond-to("medium") {
      width: 70%;
      height: 135px;
    }

    @include respond-to("large") {
      width: 70%;
      height: 175px;
    }
  }

  &__wrapper {
    color: $white;
    padding: ($gutter * 2) 0 ($gutter * 3) 0;
  }

  &__logo {
    max-width: 200px;
  }

  &__header {
    font-size: 3.25em;
    line-height: 1;
    margin: 0;
    padding: $gutter * 2 0;

    &--block {
      display: block;
    }
  }

  &__cta {
    display: inline-block;
    color: $white;
    background: $orange;
    font-weight: 700;
    padding: 0 ($gutter / 4);
  }

  &__sub-header {
    font-size: 1.75em;
    font-weight: 400;
    margin: 0;

    &--block {
      display: block;
    }
  }
}
