.signup {
  background: grey;
  padding: ($gutter * 2) 0;
  background-image: url(../media/images/hero-background.jpg);
  background-size: cover;
  background-position: center;

  @include respond-to("medium") {
    padding: ($gutter * 3) 0;
  }

  &__header-wrapper {
    text-align: center;
    color: $white;
    padding-bottom: $gutter * 2;

    @include respond-to("medium") {
      padding-bottom: $gutter * 3;
    }
  }

  &__header {
    margin: 0 0 ($gutter / 4) 0;
    font-size: 2.5em;

    @include respond-to("medium") {
      font-size: 3.2em;
      margin: 0;
    }
  }

  &__sub-header {
    margin: 0;
    font-size: 1.5em;

    @include respond-to("medium") {
      font-size: 2em;
    }
  }

  &__form-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}
