.testoms {
  padding: ($gutter * 2) 0;

  &__header-wrapper {
    text-align: center;
    padding-bottom: $gutter * 2;
  }

  &__header {
    color: $orange;
    margin: 0;
    padding-bottom: $gutter / 2;
    font-size: 2.5em;

    @include respond-to("medium") {
      font-size: 3.5em;
    }
  }

  &__sub-header {
    margin: 0;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    @include respond-to("medium") {
      font-size: 1.7em;
    }
  }

  &__videos {
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  &__video {
    &--middle {
      padding: $gutter 0;

      @include respond-to("medium") {
        padding: 0 $gutter;
      }
    }
  }

  &__stories {
    padding: ($gutter * 2) 0 0 0;
  }

  &__stories-row {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;

    @include respond-to("medium") {
      flex-direction: row;
      align-items: flex-start;
      max-width: 850px;
    }
  }

  &__story-img-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    border: 1px solid #ddd;
    margin: 0 $gutter $gutter $gutter;
  }

  &__story {
    width: 100%;
  }
}
