.videoForm {
  &__wrapper {
    padding: ($gutter * 3) 0;
  }

  &__form {
    position: relative;
  }

  &__form-title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.6em;
    padding: $gutter 0;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    

    @include respond-to("large") {
      position: absolute;
      transform: translateY(-100%);
      z-index: 2;
    }

    &--block {
      display: block;
    }

    &--highlighted {
      color: $orange;
    }
  }
}
